$page_padding: 1em;

html, body {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

header {
  padding: $page_padding;
  flex-shrink: 0;
}

.hidden {
  display: none;
}

.invisible { visibility: hidden; }
.pos-a { position: absolute; }

button,
a.button {
  & + button,
  & + a.button {
    margin-left: 1em;
  }
}

#videos {
  overflow-x: hidden;
  overflow-y: auto;

  #video-list {
    width: 100%;

    #video-list-content {
      width: 100%;
      margin: 0;
      padding: 0.5em 0;
      list-style: none;
      line-height: 1.25em;

      td {
        padding: $page_padding/2 $page_padding;


        &.buttons {
          width: 1em;
        }

        &.info {
          padding-left: 0;
          padding-right: 0;
        }

        &.video {
          width: 10em;

          video {
            width: 10em;
          }
        }
      }
    }
  }
}

#hotkey-help {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .content {
    overflow: auto;
    padding: $page_padding;
  }

  body.hotkey-help & {
    display: flex;
  }
}
